-r requirements.txt
# This is an inverse index for extra (optional) requirements.
# Each optional package must be followed by a comment with a comma-separated list
# of tags it belongs to, like spark, nlp, etc.
# This tags can the be used to specify partial dependencies like contrib[nlp,spark]
# an additional tag 'all' is generated which includes every listed package in this file.
# https://hanxiao.io/2019/11/07/A-Better-Practice-for-Managing-extras-require-Dependencies-in-Python/

mercury-contrib==2.2.1 # contrib
mercury-stages==1.1.1 # stages
mercury-graph==1.2.1 # graph
mercury-explainability==0.1.7 # explainability
mercury-bidfit==2.1.1 # bidfit
